<div class="col-xs-12">
  <div class="error-page">
      <h1>Sorry</h1>
      <h4>
        We stepped out for
        <a href="http://franklinbarbecue.com">Franklin</a>.
      </h4>
    </div>
</div>
