<div class="col-xs-12">
  <div class="welcome-header">
    <h1>Welcome {{name}}.</h1>
    <h4>Enough Tutorials. Start Creating.</h4>
    <button type="button" class="btn btn-lg btn-info">Try Mixin</button>
  </div>
</div>
